In [1]:
import pandas as pd

In [2]:
aapl = pd.read_csv('/Users/pratyush/Python/Python for Finance and Algorithmic Trading/Python-Finance-QuantConnect (1)/06-Financial-Concepts-with-Python/apple.csv', index_col = 'Date', parse_dates = True)

In [3]:
msft = pd.read_csv('/Users/pratyush/Python/Python for Finance and Algorithmic Trading/Python-Finance-QuantConnect (1)/06-Financial-Concepts-with-Python/msft.csv', index_col = 'Date', parse_dates = True)

In [6]:
aapl['Daily Return'] = aapl['Adj Close'].pct_change(1)

In [8]:
msft['Daily Return'] = msft['Adj Close'].pct_change(1)

In [10]:
aapl = aapl.dropna()

In [14]:
msft = msft.dropna()

In [26]:
#To undestand the process of downside in the function below:

#Step 1 => Returns where daily returns are negative

aapl['Daily Return'] < 0

Date
2016-01-04    False
2016-01-05     True
2016-01-06     True
2016-01-07     True
2016-01-08    False
              ...
2021-08-23    False
2021-08-24     True
2021-08-25     True
2021-08-26     True
2021-08-27    False
Name: Daily Return, Length: 1424, dtype: bool

In [27]:
#Step 2 => Gives us value where daily returns are negative

aapl[aapl['Daily Return'] < 0]

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2016-01-05,26.437500,26.462500,25.602501,25.677500,23.678219,223164000,-0.025059
2016-01-06,25.139999,25.592501,24.967501,25.174999,23.214844,273829600,-0.019570
2016-01-07,24.670000,25.032499,24.107500,24.112499,22.235069,324377600,-0.042205
2016-01-13,25.080000,25.297501,24.325001,24.347500,22.451773,249758400,-0.025710
2016-01-15,24.049999,24.427500,23.840000,24.282499,22.391838,319335600,-0.024015
...,...,...,...,...,...,...,...
2021-08-17,150.229996,151.679993,149.089996,150.190002,150.190002,92229700,-0.006154
2021-08-18,149.800003,150.720001,146.149994,146.360001,146.360001,86326000,-0.025501
2021-08-24,149.449997,150.860001,149.149994,149.619995,149.619995,48606400,-0.000601
2021-08-25,149.809998,150.320007,147.800003,148.360001,148.360001,58991300,-0.008421
2021-08-26,148.350006,149.119995,147.509995,147.539993,147.539993,48597200,-0.005527

In [37]:
#Step 3 => gives us daily return values where daily returns are negative

aapl[aapl['Daily Return'] < 0]['Daily Return']

Date
2016-01-05   -0.025059
2016-01-06   -0.019570
2016-01-07   -0.042205
2016-01-13   -0.025710
2016-01-15   -0.024015
                ...
2021-08-17   -0.006154
2021-08-18   -0.025501
2021-08-24   -0.000601
2021-08-25   -0.008421
2021-08-26   -0.005527
Name: Daily Return, Length: 652, dtype: float64

In [30]:
#Now lets create a funtion for sortino ratio

def compute_sortino_ratio(df, threshold = 0, rf = 0):
    
    mean_return = df['Daily Return'].mean()
    
    #Now we take into account the threshold to calculate the stdev
      #if threshold = 0 ==> We only need the negative daily returns
        
    downside = df[df['Daily Return'] < threshold]['Daily Return']
    
    downside_std = downside.std()
    
    
    sortino_ratio = (mean_return - rf)/downside_std
    
    return sortino_ratio

In [31]:
compute_sortino_ratio(aapl)

0.1016461270508297

In [38]:
#To create a function that annualizes the sortino ratio

def annual_sortino_ratio(df, threshold = 0, rf = 0):
    
    mean_return = df['Daily Return'].mean()
    
    downside = df[df['Daily Return'] < threshold]['Daily Return']
    
    downside_std = downside.std()
    
    annual_sortino_ratio = (mean_return - rf) / downside_std
    
    return annual_sortino_ratio * (252 ** 0.5)

In [41]:
sort_aapl = annual_sortino_ratio(aapl)

In [42]:
sort_aapl

1.613582243456224